*{margin: 0px; padding: 0px; box-sizing: border-box;}
a,a:hover{text-decoration: none; color:black;}
body{
position: relative;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/* Actual classes */
.header{
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../Media/Images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0 0);
}

.header-text{
    position: absolute;
    color:white;
    left: 50%;
    top: 75%;
    transform:  translate(-50%,-20%) ;
    -ms-transform:  translate(-50%,-20%) ;
    -webkit-transform:  translate(-50%,-20%) ;
}

.card{
    width:100%;
    height: auto;
    text-align: center;
}

.card-content{
margin:50px 0px;
 padding: 50px !important;
 border-radius: 3px;
 transition: 0.3s;
}

.card-content:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.card-content i{
    color:lightgrey;
}

.service-icon{
    justify-content: center!important;
    align-items: center;
}

.projects{
    background-color: rgba(0,0,0,0.1);
}

.card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.pricing{
    position: relative;
    width:100%;
    height: auto;
}

.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left:0;
    right:0;
    z-index:-1;
    background: linear-gradient(160deg,#16c9f6 55%,#fff 0%);
}

.testimonial{
    position: relative;
    background: rgba(0,0,0,0.1);
}

.carousel-indicators{
    position: absolute;
    right:0;
    bottom:-15%!important;
}

.carousel-indicators li{
    background-color: cyan!important;
}

.carousel-control-prev{
    position: absolute;
    left:-5%;
    bottom:30%;
}

.carousel-control-next{
    position: absolute;
    right:-5%;
    bottom:30%;
}

.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}